<!-- Image and text -->
<mdb-navbar SideClass="navbar navbar-expand-lg  navbar-dark red">
  <mdb-navbar-brand>
      <a class="navbar-brand" href="#">
          <img src="../../../assets/img/cvgen.png" height="80" class="d-inline-block align-top" alt="">
      </a>
  </mdb-navbar-brand>
  <links>
    <ul class="navbar-nav mr-auto">
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/home"  class="nav-link waves-light" mdbWavesEffect>Home </a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/generator"  class="nav-link waves-light" mdbWavesEffect>Generador</a>
        </li>
        <li routerLinkActive="active" class="nav-item">
            <a routerLink="/community"  class="nav-link waves-light" mdbWavesEffect>Comunidad</a>
        </li>
        <li class="nav-item">
            <a href="https://github.com/Dwigth/cvgen"  class="nav-link waves-light" mdbWavesEffect><mdb-icon icon="github" ></mdb-icon></a>
        </li>
    </ul>
                
                <form class="form-inline " >                  
                    <div class="md-form mt-0" mdbWavesEffect>
                        <input class="form-control mr-sm-2  waves-light" type="text" placeholder="Buscar">
                    </div>
                    <img src="../../../assets/img/user.jpg" width="50" class="rounded-circle float-right" alt="...">
                </form>
</links>
</mdb-navbar>